.container {
  margin: 0;
  padding: 0;
}

#logo {
  font-family: Bungee Shade;
  font-size: 100px;
  position: fixed;
  color: #F89406;
  right: 40px;
  bottom: 40px;
}

.bop-title {
  font-family: Bungee Shade;
  font-size: 50px;
  position: relative;
  float: left;
  color: #3A539B;
  top:40px;
  left: 40px;
}

.burger-list {
  clear: both;
  position: relative;
  top: 50px;
  left: 25px;
  margin:0px;
  width: 600px;
  font-family: Roboto;
}

button {
  font-size: 24px;
  padding-bottom: 10px;
}

.btn-outline-dark {
  margin-bottom: 10px;
}

.burgerDevoured {
  font-size:1em;
  margin-bottom: 5px;
  font-family: Roboto;
}

.burger-title {
  font-family: Bungee Shade;
}

#burgerName {
  border-radius: 3px;
  border: 2px solid black;
  height: 35px;
  margin-bottom: 10px;
}